Membuat Database gudang terlebih dahulu

In [ ]:
import sqlite3,os,datetime
now = datetime.datetime.now()
db = sqlite3.connect('gudang.db')
cursor = db.cursor()

cursor.execute('CREATE TABLE barang(id_barang INTEGER PRIMARY KEY AUTOINCREMENT,nama_barang TEXT, kategori_barang TEXT, stok_barang INTEGER, harga_barang INTEGER, tanggal_input DATE)')

In [ ]:
#fungsi input atau untuk memasukkan barang kedalam database
def add():
  nama= input('Masukkan nama barang : ')
  kategori= input('Masukkan kategori barang : ')
  stok=int(input('Masukkan stok barang : '))
  harga=int(input('Masukkan harga barang : '))
  query='''INSERT INTO barang (nama_barang,kategori_barang,stok_barang,harga_barang,tanggal_input) VALUES (?,?,?,?,?)'''
  value = (nama,kategori,stok,harga,now.strftime('%d-%m-%Y'))
  cursor.execute(query,value)
  db.commit()

#fungsi untuk melihat data yang ada didalam tabel database
def read():
  res = cursor.execute('SELECT * FROM barang')
  for x in res:
    print(x)

#fungsi untuk melakukan update harga dan stok barang atau edit
def edit():
  print('Kolom : [harga_barang, stok_barang]')
  kolom = (input('Input kolom yang ingin diupdate : '))
  id = int(input('Masukkan id barang : '))
  isi = int(input('Masukkan Value :  '))
  sql =f'''UPDATE barang SET {kolom}={isi} WHERE id_barang={id}'''
  cursor.execute(sql)
  db.commit()

def delete():
  id = int(input('Masukkan id barang : '))
  sql=f'''DELETE FROM barang WHERE id_barang={id}'''
  cursor.execute(sql)
  db.commit()

def menu():
  print('''==========MENU==========
1. Input Data Barang
2. Update Data Barang
3. Hapus Data Barang
4. Lihat Data Barang
5. Keluar
===================''')
  while True:
    x = int(input('Pilihan: '))
    if x == 1:
      add()
      break
    elif x == 2:
      os.system('cls')
      edit()
      break
    elif x == 3:
      os.system('cls')
      delete()
      break
    elif x == 4:
      os.system('cls')
      read()
      break
    elif x == 5:
      exit()
      break
    else:
      continue
menu()

==========MENU==========
1. Input Data Barang
2. Update Data Barang
3. Hapus Data Barang
4. Lihat Data Barang
5. Keluar
===================
Pilihan: 4
(1, 'gery salut malkist coklat', 'Makanan', 200, 5000, '07-01-2022')